---
import { getEntry } from "astro:content";
import { Carousel } from "./Carousel"


const appData = (await getEntry('app', 'data'))!.data;
---

<section class="hero">
	<div class="hero-container">
	<div class="hero-carousel">
		<Carousel images={appData.home_images} client:only />
	</div>
	<div class="hero-content">
		<h1 class="hero-name">{appData.name}</h1>
			<p class="hero-desc">
				{appData.message}
			</p>
		</div>
	</div>
</section>

<style lang="scss">
	.hero {
		--max-height: 450px;
		--carousel-height: var(--max-height);
		height: var(--max-height);
		&-container {
		display: grid;
		grid-template: 1fr / 1fr;
		overflow: hidden;
		margin-top: 1rem;
		isolation: isolate;


		}

		& > * {
			grid-area: 1 / -1;
		}

		&-carousel {
			width: auto;
			z-index: -1;
			background: hsl(0deg 0% 0% / 10%);
			&> * {
				height: 100%;
			}
		}

		&-content {
			display: grid;
			gap: 0.5rem;
			background: hsl(0deg 0% 0% / 80%);
			color: var(--clr-white);
			width: min(100%, 550px);
			padding: 1rem 1.5rem 1.5rem;
			align-self: end;
			justify-self: start;
			margin-top: -100%;
		}


		&-name {
			font-size: var(--step-4);
			font-family: var(--font-display);
			font-weight: 700;
		}

		&-desc {
			font-size: calc(var(--step-1) * 0.9);
			line-height: 1.5;
		}
	}
</style>
