---
import BaseLayout from "../../layouts/BaseLayout.astro"
import {WorkImage} from "../../components/WorkPage.tsx" 
---

<BaseLayout>
	<section class="work">
<h1 class="work-title">Michealangela</h1>
<p class="work-time">
	<svg class="work-timesvg" viewBox="0 0 24 24">
		<use href="#calendar"></use>
	</svg>
			<span class="work-timespan">Drawn on <time>19th October 2024</time></span>
</p>
		<WorkImage client:only img="/demo.jpg" caption="Michealangela Im" />
<p class="work-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facilis tempore sit earum rem natus sequi totam ratione cumque architecto.</p>

<div class="work-share-bar">
	<a href="#" class="work-btn" data-btn="">
		<svg viewBox="0 0 24 24"><use href="#share"></use></svg>
		Share
	</a>
	
	<a href="#" class="work-btn" data-btn="">
		<svg viewBox="0 0 24 24"><use href="#whatsapp"></use></svg>
		Connect on WhatsApp
	</a>

	<a href="#" class="work-btn" data-btn="">
		<svg viewBox="0 0 24 24"><use href="#alternate-email"></use></svg>
		Send a mail
	</a>
	
</div>
	</section>


</BaseLayout>



<style lang="scss">
@import "../../styles/temp.scss";
</style>
